 /* *{ border: 1px solid rgba(0,1,1,.5); } */
 body {
    background: rgb(2,0,36);
    background: linear-gradient(284deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 32%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
  }
  svg:not(:root) {
    display: block;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .visualizer {
    flex: -1 1 500px;
  }

  .container-instrument {
    display: flex;
    flex-direction: column;
    flex: 1 1 420px;
    background-color: #212121;
    color: #d5d5d5;
    border: 20px ridge #75482D;
    border-radius: 20px;
  }
  .container {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 46%;
    width: 95%;
    white-space: nowrap;
    margin: 10px;
    border: solid black;
  }
  .keyboard {
    width: auto;
    padding: 1px;
    margin: 1px;
    border: 1px solid rgba(1,0,0,.5);
  }
  .keyN {
    z-index: 1;
    cursor: pointer;
    font: 10px "Open Sans", "Lucida Grande", "Arial", sans-serif;
    border: 1px solid rgb(117, 118, 119);
    border-radius: 0px;
    width: 30px;
    height: 80px;
    text-align: center;
    box-shadow: 2px 2px darkgray;
    display: inline-block;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: #000;

  }
  .key {
    z-index: 0;
    cursor: pointer;
    font: 16px "Open Sans", "Lucida Grande", "Arial", sans-serif;
    border: 1px solid rgb(50, 50, 50);
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    width: 40px;
    height: 100%;
    text-align: center;
    
    display:  inline-block;
    position: relative;
   
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  .key div {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    pointer-events: none;
  }
  .keyN div {
    position: relative;
    top: 0;
    text-align: center;
    width: 100%;
    
  }
  .key div sub {
    font-size: 10px;
    pointer-events: none;
  }
  .key:hover {
    background-color: #fff;
  }
  .key:active {
    background-color: #aaa;
    color: #fff;
    box-shadow: 2px 2px darkgray;
  }
  .octave {
    display: inline-block;
    padding: 0 1px 0 0;
  }
  .settingsBar {
    padding-top: 8px;
    font: 24px "Open Sans", "Lucida Grande", "Arial", sans-serif;
    position: relative;
    vertical-align: middle;
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px 75px;
  }

  .settings {
    padding: 20px;
    border: 10px solid rgb(203, 203, 203);
    height: 180px;
  }

  .wave-section select {
    font-size: 20px;
  }

  .graphic-section select {
    font-size: 20px;
  }

  .envelope-section {
    display: flex;
    flex-direction: column;
    font-size: 18px;

  }

  .range {
    display: flex;
    justify-content: space-between;
  }

  .lienzo-envelope {
    display: none;
    z-index: 10;
    position: fixed;
  }

  .btn-envelope {
    display: none;
    position: fixed;
    top: 50px;
    right: 120px;
    z-index: 10;
    width: 150px;
    height: 65px;
  }